body{

  background: transparent;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.center-item {
  max-width: 50%;
  font-size: 2rem;
  font-weight: 100;
}
